@model S_DDD.Context.tb_confiuracoes
@{
    ViewBag.Title = "Configuração";
}

<div class="container mt-4">

    <div class="card shadow p-4 text-dark">
        <h2 class="text-center mb-4">CONFIGURAÇÕES</h2>

        <!-- Configuração de Usuário -->
        <div class="card shadow p-4 mb-4">
            <h3 class="fs-5">USUÁRIO</h3>
            <p class="mb-2">Clique no botão abaixo para registrar um novo usuário:</p>
            <a href="@Url.Action("Register", "Account")" class="btn btn-dark fw-bold">Registrar Novo Usuário</a>
        </div>

        <!-- Formulário de Configurações -->
        <div class="card shadow p-4">
            <h3 class="fs-5">Configurações Gerais</h3>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }

            @using (Html.BeginForm("addCofiguracao", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <!-- Tipo de Configuração -->
                <div class="mb-3">
                    <lable>Tipo de Configuracao:</lable>
                    @Html.DropDownListFor(m => m.tipo_config, new SelectList(new[] { "Light", "Dark" }), new { @class = "form-select" })
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label>Email de info</label>
                    @Html.TextBoxFor(m => m.email_inf, new { @class = "form-control", placeholder = "Digite o email" })
                </div>

                <!-- Contacto -->
                <div class="mb-3">
                    <lable>Contacto de info:</lable>
                    @Html.TextBoxFor(m => m.contact_inf, new { @class = "form-control", placeholder = "Digite o contacto" })
                </div>

                <!-- Botão de Enviar -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success fw-bold w-25">Salvar Configurações</button>
                </div>
            }
        </div>
    </div>
</div>
